services:
  primeproperty-next-client:
    container_name: primeproperty_next_client
    image: 355355355/primeproperty-next-client
    restart: on-failure
    env_file:
      - .env
    ports:
      - 4137:4137
    networks:
      - next_client_network
networks:
  next_client_network:
    driver: bridge
