@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14.902%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.902%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.902%;
    --primary: 41.4706 39.0805% 65.8824%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 14.2857% 95.8824%;
    --secondary-foreground: 215 13.7931% 34.1176%;
    --muted: 210 20% 98.0392%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 48 100% 96.0784%;
    --accent-foreground: 22.7273 82.5% 31.3725%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.0435% 90.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 37.6923 92.126% 50.1961%;
    --chart-1: 37.6923 92.126% 50.1961%;
    --chart-2: 32.1327 94.6188% 43.7255%;
    --chart-3: 25.9649 90.4762% 37.0588%;
    --chart-4: 22.7273 82.5% 31.3725%;
    --chart-5: 21.7143 77.7778% 26.4706%;
  }

  .dark {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 14.902%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 41.4706 39.0805% 65.8824%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 14.902%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 22.7273 82.5% 31.3725%;
    --accent-foreground: 48 96.6387% 76.6667%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.098%;
    --input: 0 0% 25.098%;
    --ring: 37.6923 92.126% 50.1961%;
    --chart-1: 43.2558 96.4126% 56.2745%;
    --chart-2: 32.1327 94.6188% 43.7255%;
    --chart-3: 22.7273 82.5% 31.3725%;
    --chart-4: 25.9649 90.4762% 37.0588%;
    --chart-5: 22.7273 82.5% 31.3725%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
    border-radius: 1rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 1rem;
  }
}

body > .skiptranslate,
.goog-logo-link,
.gskiptranslate,
.goog-te-gadget span,
.goog-te-banner-frame,
#goog-gt-tt,
.goog-te-balloon-frame,
div#goog-gt-tt {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
  font-size: 0px;
}

.goog-text-highlight {
  background: transparent !important;
  box-shadow: transparent !important;
}

#google_translate_element select {
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 8px 12px;
}
